@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300&family=Lato:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: DM Sans;
}

li {
  list-style: none;
}

i {
  font-size: 40px;
  color: #ddd7d7;
}

i:hover {
  color: #ffffff;
}

header {
  height: 100vh;
}

.bg {
  background-color: #7A6988;
}

nav {
  color: #F3E5F5;
}

section {
  height: 75vh;
  color: #fff;
}

.introduction-container {
  animation: fadeIn 5s;
}

.nav-list {
  padding: 10px;
  font-size: 20px;
}

.nav-btn {
  color: #fff;
  text-decoration: none;
}

.nav-btn:hover{
  color: #d1a6f5;
}

.emoji {
  height: 30px;
  margin-left: 20px;
}

.intro-section {
  font-family: Lato;
  margin: 5em 10em 0 10em;
}

.hello-world {
  font-weight: 300;
  font-size: 25px;
  color: #c9ade8;
  display: flex;
  align-items: center;
}

.gradient-text {
  background: -webkit-linear-gradient(180deg,#99b9e5, #dd9fdd);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  color: #ead0f0;
  font-size: 80px;
  font-weight: 800;
}

.intro-3rd-row {
  font-size: 80px;
  font-weight: 800;
}

.small-bio {
  font-size: 20px;
}

.resume-btn {
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  border-radius: 5px;
  background: #624a75;
  /* color: #fff; */
  height: 50px;
  width: 150px;
  font-size: 20px;
  color: #fff;
}

.resume-btn:hover {
  background-color: #ffff;
  box-shadow: 0 0 20px #ffff;
  color: #624a75;
  animation: fadeIn 1s;
  border: 2px solid #624a75;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.technologies {
  padding: 20px;
  width: 80em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tech-icon {
  font-size: 50px;
  padding: 10px;
}

/* About */
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 4em 3em 4em;
  align-items: center;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.about-paragraph {
  width: 30em;
  font-size: 20px;
}

.tech-header {
  font-weight: 800;
  font-size: 23px;
  color: #deeafb;
}

.tech-list {
  font-size: 20px;
  font-weight: 100;
}

/* .personal-img {
  height: 40em;
  width: auto;
  box-shadow: 0 0 20px #ca98f2;
} */

.carousel-image {
  height: 40em;
  width: auto;
  box-shadow: 0 0 20px #ca98f2;
}

.prev, .next {
  margin: 0 1em;
  border: none;
  color: #fff;
  
}

.carousel-button {
  padding: 5px;
  background-color: #624a75;
}

.carousel-button:hover {
  background-color: white;
  color: #624a75;
}

/* Projects */

#project1 {
  /* height: 60vh; */
  background-color: #beb8d2;
}

#project2 {
  /* height: 70vh; */
  background-color: #59546b;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5em;
}

.project-desc-container {
  width: 30em;
  margin: 5em 0 0 0;
  font-family: Lato;
}

.project-title {
  font-weight: 800;
  margin-bottom: 20px;
}


.project-feature {
  width: 45em;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #ffffff;
}

.rbg-icon {
  height: 45px;
}

.github-repo-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  height: 50px;
  width: 10em;
}

.section-title {
  font-size: 50px;
  font-weight: 800;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 2em 0 0 4em;
  align-items: center;
  height: 95vh;
}

.contact-header {
  font-size: 60px;
  font-weight: 800;
  background: -webkit-linear-gradient(180deg, #ae72ea, #db97d0fe);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-emoji {
  height: 50px;
  margin-left: 20px;
}

.contact-icon {
  font-size: 45px;
  cursor: pointer;
  color: #fff;
}

.linkedin:hover {
  color: #80a9e1;
}

.contact-text {
  font-size: 22px;
  width: 50em;
  text-align: center;
}

.input {
  height: 2em;
  width: 15em;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#send-email-form {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.send-email-section {
  margin-top: 3em;
  width: 50em;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 0px 32px 0 rgba(247, 247, 247, 0.563);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}